@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Microsoft JhengHei";
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: bottom;
}

.addTicket-panel {
  border-radius: 12px;
  box-shadow: 0px 3px 6px gray;
  max-width: 900px;
  margin: 100px auto;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .addTicket-panel {
    flex-direction: column;
    box-shadow: none;
    margin: 0 auto;
    padding-top: 0;
  }
}

.addTicket-img, .addTicket-form {
  width: 40%;
}
@media (max-width: 768px) {
  .addTicket-img, .addTicket-form {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .addTicket-img img:nth-child(2) {
    display: none;
  }
}

.addTicket-form {
  display: flex;
  flex-direction: column;
}

.title {
  color: #00807E;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #00807E;
  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 16px;
}
.form-group label {
  font-weight: bold;
  color: #00807E;
}

.addTicket-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  .addTicket-input {
    flex-direction: column;
    align-items: flex-start;
  }
}
.addTicket-input input, .addTicket-input select, .addTicket-input textarea {
  width: 80%;
  background-color: #f7f7f7;
  color: gray;
  border: none;
  border-bottom: 1px solid #00807E;
  text-indent: 0.5rem;
  min-height: 40px;
}
.addTicket-input input::-moz-placeholder, .addTicket-input select::-moz-placeholder, .addTicket-input textarea::-moz-placeholder {
  font-size: 16px;
}
.addTicket-input input::placeholder, .addTicket-input select::placeholder, .addTicket-input textarea::placeholder {
  font-size: 16px;
}
@media (max-width: 576px) {
  .addTicket-input input, .addTicket-input select, .addTicket-input textarea {
    width: 100%;
  }
}
.addTicket-input textarea {
  min-height: 120px;
  padding-top: 5px;
  line-height: 1.5;
}

.alert-message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #B21C01;
  margin-top: 2px;
}
.alert-message p {
  width: 80%;
}
@media (max-width: 576px) {
  .alert-message p {
    width: 100%;
  }
}

.addTicket-btn {
  background-color: #00807E;
  color: white;
  border-color: #00807E;
  padding: 10px 40px;
  border-radius: 4px;
  align-self: flex-end;
}

.main-content {
  background-color: #F7F7F7;
}

.search-area {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}
.search-area p {
  color: #818A91;
}
@media (max-width: 768px) {
  .search-area {
    flex-direction: column;
  }
}

.regionSearch {
  min-height: 40px;
  width: 28%;
  text-indent: 0.5rem;
  color: #818A91;
  border-radius: 4px;
  margin-right: 3%;
}
@media (max-width: 768px) {
  .regionSearch {
    width: 80%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.ticketCard-area {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.ticketCard {
  width: calc(33.3333% - 24px);
  background-color: white;
  box-shadow: 0px 3px 6px lightgray;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .ticketCard {
    width: calc(50% - 24px);
  }
}
@media (max-width: 576px) {
  .ticketCard {
    width: 100%;
  }
}

.ticketCard-img {
  position: relative;
}
.ticketCard-img a {
  display: block;
  overflow: hidden;
}
.ticketCard-img img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ticketCard-img img:hover {
  transform: scale(1.15);
}

.ticketCard-region, .ticketCard-rank {
  position: absolute;
  color: white;
  text-align: center;
  border-radius: 0 5px 5px 0;
}

.ticketCard-region {
  background-color: #64C3BF;
  padding: 12px 20px;
  top: -13px;
  left: 0;
  font-size: 1.25em;
}

.ticketCard-rank {
  background-color: #00807E;
  padding: 5px 8px;
  min-width: 40px;
  bottom: -16px;
  left: 0;
}

.ticketCard-content {
  padding: 20px;
  height: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticketCard-name {
  display: block;
  text-decoration: none;
  color: #00807E;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #00807E;
  margin-bottom: 20px;
}
.ticketCard-name:hover {
  color: #64C3BF;
}

.ticketCard-description {
  color: #818A91;
  margin-bottom: 32px;
}

.ticketCard-info {
  color: #00807E;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketCard-num {
  font-weight: bold;
}

.ticketCard-price {
  display: flex;
  align-items: center;
}
.ticketCard-price span {
  font-size: 2rem;
}

.cantFind-area {
  display: none;
  text-align: center;
}
.cantFind-area h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #00807E;
  margin-bottom: 50px;
}
.cantFind-area img {
  margin: 0 auto;
}/*# sourceMappingURL=all.css.map */